#bind.address=http://146.185.165.167:9100/odlab/
matrix.file=weight.matrix
bind.address=http://localhost:9100/odlab/
#normalization method
#   no: no normalization
#   poi: normalize using all poi in the district
#   city: normalize using all poi in the city (not yet implemented!!!)
mbd.normalization=poi